.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}
.social-icons h2 {
    margin-bottom: 12px;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 50px;
    width: 50px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

.substack-signup {
    border: 2px solid var(--border);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
 }
.substack-signup p {
    margin: 16px 16px;;
}
.substack-signup a {
    text-decoration: underline;
}
.newsletter-intro {
    margin: 16px;
}

.post-content img {
    max-height: 600px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-profile {
  flex-basis:40%;
}
.about-profile img {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: block;
}

.about-me p:first-of-type{
    padding-left:18px;
    flex-basis:60%;
    font-size:20px;
}
.about-me p {
    flex-basis:100%;
    margin-top:1em; 
}
.home-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}
.social-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}
  