@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column
  }

  #main {
    @apply py-16 px-4 mx-auto;
  }

  li.active {
    @apply underline;
  }
}

.cellImage {
  @apply w-16 h-16 object-cover;
}

.cellTitle {
@apply text-xl font-bold w-80;
}