@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column
  }

  #main {
    @apply py-16 px-4 mx-auto;
  }

  li.active {
    @apply underline;
  }
}

.cellImage {
  @apply w-24 h-24 object-cover;
  /* flex-grow: 1; */
}

.cellTitle {
@apply text-2xl font-bold ;
/* flex-grow: 3; */
}

.searchView {
max-height: 70vh;
overflow-y: scroll;
overscroll-y: auto;
}

body {
  overscroll-behavior: none;
}

.tableContainer {
  height: 70vh;
  overflow: auto;
}