@import "./fonts.css";
.sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust this value as needed to ensure the header is above other elements */
}
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header font-bold;
}

.astro-code {
  @apply mb-2;
}

p,
blockquote {
  @apply font-body text-base md:text-lg text-gray-800;
}

button,
input,
select,
textarea,
time,
.ui {
  @apply font-ui font-normal;
}

body {
  @apply m-0 p-0 text-left text-gray-800 text-base leading-relaxed;
  background: linear-gradient(rgba(229, 233, 240, 0.5), #fff) no-repeat;
  background-size: 100% 600px;
}

strong,
b {
  @apply font-bold;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

p {
  @apply mb-4;
}

textarea {
  @apply w-full text-base;
}

input {
  @apply text-base;
}

table {
  @apply w-full;
}

img {
  @apply max-w-full h-auto rounded-lg;
}

code {
  @apply px-1 py-0.5 bg-gray-200 rounded;
}

pre {
  @apply p-6 rounded-lg;
}

pre > code {
  @apply p-0 bg-transparent;
}

blockquote {
  @apply border-l-4 border-blue-600 pl-5 m-0 text-xl;
}

hr {
  @apply border-0 border-t border-gray-300;
}
