---
layout: base
eleventyNavigation:
  key: About
  order: 2
meta:
  title: About us
  description: this is our about page.
---

<section class="font-bold">
  This is the about page
</section>

<script type="module">
import {foobar} from '/scripts/test.ts';
foobar()
</script>