---
layout: base
eleventyNavigation:
  key: About
  order: 2
meta:
  title: About me
  description: This is my about page.
---

# About me

This is my about page.

{# {% react comp="test.tsx", props={'name':'Brian'} %} #}