---
meta:
  title: Home page
  description: this is the home page meta description.
layout: base
eleventyNavigation:
  key: Home
  order: 1
image_src: https://briansunter.com/images/avatar.jpg
alt_text: Brian Sunter
title: Brian Sunter
short_intro: I'm a software engineer based in London, UK. I'm currently working at Monzo.
long_intro: I have a passion for building products that make people's lives easier. I'm currently working at Monzo, where I'm helping to build the future of banking. I'm also a keen open source contributor, and I'm always looking for new projects to get involved with.
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.6/fuse.min.js"></script>
{% include "intro.njk" %}
{% import "macros/blog-preview.njk" as blogPreview %}

<section>
  <hr>
  <h2 class="text-6xl font-bold my-8">Blog</h2>
  <p class="text-lg text-gray-600 my-4">Here you'll find my latest blog posts about software development, technology, and my experiences in the tech industry.</p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-auto max-w-5xl">
    {% set sortedPosts = collections.newsletter | sort(attribute='data.date') | reverse %}
    {% for post in sortedPosts.slice(0,6) %}
      {{ blogPreview.blogPostPreview(post) }}
    {% endfor %}
  </div>
</section>

<section>
  <hr>
  <h2 class="text-6xl font-bold my-8">Projects</h2>
  <p class="text-lg text-gray-600 my-4">Here you'll find a showcase of my latest projects, spanning various technologies and industries.</p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-auto max-w-5xl">
    {% set sortedPosts = collections.newsletter | sort(attribute='data.date') | reverse %}
    {% for post in sortedPosts.slice(0,6) %}
      {{ blogPreview.blogPostPreview(post) }}
    {% endfor %}
  </div>
</section>

{% set items = [] %}
{% for post in collections.all %}
  {% set _ = items.push({ title: post.data.title, date: post.data.date, description: post.data.description }) %}
{% endfor %}
<section x-data="{ sortKey: 'title', sortDesc: false, posts: null, search: '', fuse: null }" 
         x-init="posts={{ items | dump | safe | forceescape }}; $nextTick(() => { fuse = new Fuse(posts, { keys: ['title', 'description'], threshold: 0.5 }) })">
  <input type="text" x-model="search" placeholder="Search posts...">
  <table class="table-auto max-w-5xl">
    <thead>
      <tr>
        <th class="px-4 py-2" @click="sortKey = 'title'; sortDesc = !sortDesc">Title</th>
        <th class="px-4 py-2" @click="sortKey = 'date'; sortDesc = !sortDesc">Date</th>
        <th class="px-4 py-2" @click="sortKey = 'description'; sortDesc = !sortDesc">Description</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="post in (search.length ? fuse.search(search).map(result => result.item) : posts).sort((a, b) => {
        let aValue = a[sortKey];
        let bValue = b[sortKey];

        if (sortKey === 'date') {
          aValue = new Date(aValue).getTime();
          bValue = new Date(bValue).getTime();
        }

        if (aValue === undefined || bValue === undefined) {
          return 0;
        }

        if (typeof aValue === 'string') {
          return sortDesc ? -aValue.localeCompare(bValue) : aValue.localeCompare(bValue);
        } else {
          return sortDesc ? bValue - aValue : aValue - bValue;
        }
      })">
        <tr>
          <td class="border px-4 py-2" x-text="post.title"></td>
          <td class="border px-4 py-2" x-text="post.date"></td>
          <td class="border px-4 py-2" x-text="post.description"></td>
        </tr>
      </template>
    </tbody>
  </table>
</section>