---
meta:
  title: Home page
  description: this is the home page meta description.
layout: base
eleventyNavigation:
  key: Home
  order: 1
image_src: https://briansunter.com/images/avatar.jpg
alt_text: Brian Sunter
title: Brian Sunter
short_intro: I'm a software engineer based in London, UK. I'm currently working at Monzo.
long_intro: I have a passion for building products that make people's lives easier. I'm currently working at Monzo, where I'm helping to build the future of banking. I'm also a keen open source contributor, and I'm always looking for new projects to get involved with.
---

{% include "intro.njk" %}
<section>
  {% import "macros/blog-preview.njk" as blogPreview %}
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-auto max-w-5xl">
    {% set sortedPosts = collections.newsletter | sort(attribute='data.date') | reverse %}
    {% for post in sortedPosts.slice(0,9) %}
      {{ blogPreview.blogPostPreview(post) }}
    {% endfor %}
  </div>
</section>
