<link rel='preconnect' href='https://google-analytics.com' crossorigin>
<link rel='preconnect' href='https://analytics.google.com' crossorigin>
<link rel='preconnect' href='https://www.google-analytics.com' crossorigin>
<link rel='preconnect' href='https://googletagmanager.com' crossorigin>
<link rel='preconnect' href='https://google.com' crossorigin>
<link rel='preconnect' href='https://www.google.com' crossorigin>
<link rel='preconnect' href='https://stats.g.doubleclick.net' crossorigin>

<link rel="dns-prefetch" href="https://fonts.googleapis.com" crossorigin>
<link rel="dns-prefetch" href="https://www.google-analytics.com" crossorigin>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18360473-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-18360473-1');
  gtag('config', 'G-J2B5KTRCSH');
</script>