{:blocks ()
:pages (
{:block/uuid #uuid "6346fa63-54d7-4bdd-9ccd-4c7a15738edc"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6346fa63-54d7-4bdd-9ccd-4c7a15738edc"
:name "page"
:bindings 
{}
:nonce 6
:assets []}}
:block/journal? false
:block/updated-at 1665596246376
:block/created-at 1665596003161
:block/format :markdown
:block/type "whiteboard"
:block/name "stanford algorithms course"
:block/original-name "Stanford Algorithms Course"})}