---
import SocialMediaIcon from './SocialMediaIcon.astro';

// const iconFiles = await Astro.glob('./icons/*.svg');


const socialIcons = [
  { name: "X", url: "https://twitter.com/bsunter", icon: "square-x-twitter.svg" },
  { name: "email", url: "https://twitter.com/bsunter", icon: "email.svg" },
  { name: "GitHub", url: "https://github.com/briansunter", icon: "square-github.svg" },
  { name: "LinkedIn", url: "https://www.linkedin.com/in/briansunter/", icon: "linkedin.svg" },
  { name: "YouTube", url: "https://www.youtube.com/channel/UC4Nu4dncIcTC1DyOG5XG2Vg", icon: "youtube.svg" },
  { name: "RSS", url: "https://briansunter.com/index.xml", icon: "square-rss.svg" },
  { name: "Buy Coffee", url: "https://buymeacoffee.com/bsunter", icon: "coffee.svg" },
  { name: "bitcoin", url: "/bitcoin", icon: "bitcoin.svg" },
  { name: "instagram", url: "https://www.instagram.com/bsunter/", icon: "square-instagram.svg" },
  { name: "matrix", url: "https://matrix.to/#/@bsunter:matrix.org", icon: "matrix.svg" },
];
const {  socialAbout } = Astro.props;
---

<div class="w:full mx-auto">
  <p class="lg:text-xl text-3xl mb-4">
    {socialAbout}
  </p>
  <div class="grid grid-flow-row-dense gap-4 grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
    {socialIcons.map(({ icon, name, url }) => (
    <SocialMediaIcon icon={icon} name={name} url={url} />
  ))}
  </div>
</div>