---
import SocialMediaIcon from './SocialMediaIcon.astro';
import { SOCIAL_ICONS as socialIcons } from '../../consts';

const {  socialAbout } = Astro.props;
---

<div class="w:full mx-auto">
  <p class="lg:text-xl text-3xl mb-4">
    {socialAbout}
  </p>
  <div class="grid grid-flow-row-dense gap-4 grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
    {socialIcons.map(({ icon, name, url }) => (
    <SocialMediaIcon icon={icon} name={name} url={url} />
  ))}
  </div>
</div>