{:logseq-summarizer
 {:version "0.0.4",
  :repo "trashhalo/logseq-summarizer",
  :effect false,
  :theme false},
 :logseq-diagrams-as-code
 {:version "0.0.14",
  :repo "npgrosser/logseq-diagrams-as-code",
  :effect false,
  :theme false},
 :logseq-split-block
 {:version "v1.2.0",
  :repo "hyrijk/logseq-plugin-split-block",
  :effect false,
  :theme false},
 :logseq-chartrender-plugin
 {:version "v1.10.0",
  :repo "hkgnp/logseq-chartrender-plugin",
  :effect false,
  :theme false},
 :logseq-plugin-automatic-url-title
 {:version "v1.1.0",
  :repo "0x7b1/logseq-plugin-automatic-url-title",
  :effect true,
  :theme false},
 :logseq-github-plugin
 {:version "1.0.7",
  :repo "sawhney17/logseq-github-plugin",
  :effect true,
  :theme false},
 :logseq-move-block
 {:version "v0.0.13",
  :repo "vipzhicheng/logseq-plugin-move-block",
  :effect true,
  :theme false},
 :logseq-calendars-plugin
 {:version "2.2.2",
  :repo "sawhney17/logseq-calendars-plugin",
  :effect true,
  :theme false},
 :logseq-rainbow-tags
 {:version "0.1.0",
  :repo "swk777/logseq-rainbow-tags",
  :effect false,
  :theme false},
 :logseq-plugin-github-get
 {:version "v1.0.2",
  :repo "mandpd/logseq-plugin-github-get",
  :effect false,
  :theme false},
 :logseq-find-and-replace
 {:version "v1.1.1",
  :repo "sawhney17/logseq-find-replace",
  :effect false,
  :theme false},
 :logseq-plugin-heading-level-shortcuts
 {:version "v0.0.4",
  :repo "vipzhicheng/logseq-plugin-heading-level-shortcuts",
  :effect false,
  :theme false},
 :logseq-doc
 {:version "v1.12.0",
  :repo "sethyuan/logseq-plugin-doc",
  :effect true,
  :theme false},
 :logseq-open-in-code
 {:version "v0.0.5",
  :repo "rebornix/logseq-open-in-code",
  :effect true,
  :theme false},
 :logseq-comment-block
 {:version "v0.0.7",
  :repo "vipzhicheng/logseq-plugin-comment-block",
  :effect false,
  :theme false},
 :logseq-journals-calendar
 {:version "0.10.5",
  :repo "xyhp915/logseq-journals-calendar",
  :effect false,
  :theme false},
 :logseq-reset-sidebar
 {:version "v0.0.3",
  :repo "vipzhicheng/logseq-plugin-reset-sidebar",
  :effect false,
  :theme false},
 :logseq-localassets-plugin
 {:version "v1.4.1",
  :repo "hkgnp/logseq-localassets-plugin",
  :effect true,
  :theme false},
 :logseq-recipeimporter-plugin {:version "1.0.2", :theme false},
 :logseq-markdown-table
 {:version "v1.7.0",
  :repo "haydenull/logseq-plugin-markdown-table",
  :effect false,
  :theme false},
 :logseq-property-visualizer
 {:version "1.0.4",
  :repo "sawhney17/logseq-property-visualizer",
  :effect false,
  :theme false},
 :logseq-mergepages-plugin
 {:version "v1.6.2",
  :repo "hkgnp/logseq-mergepages-plugin",
  :effect false,
  :theme false},
 :logseq-sliders-plugin
 {:version "v1.0.3",
  :repo "hkgnp/logseq-sliders-plugin",
  :effect true,
  :theme false},
 :logseq-deadline-countdown
 {:version "0.0.8",
  :repo "xxchan/logseq-deadline-countdown",
  :effect true,
  :theme false},
 :logseq-heatmap
 {:version "v2.4.2",
  :repo "pengx17/logseq-plugin-heatmap",
  :effect true,
  :theme false},
 :logseq-bullet-threading
 {:version "v1.1.0",
  :repo "pengx17/logseq-plugin-bullet-threading",
  :effect false,
  :theme false},
 :logseq-omnivore
 {:version "v1.9.3",
  :repo "omnivore-app/logseq-omnivore",
  :effect false,
  :theme false},
 :logseq-go-home-now
 {:version "1.0.7",
  :repo "sawhney17/logseq-go-now",
  :effect true,
  :theme false},
 :logseq-random-note
 {:version "1.0.7",
  :repo "tankcool/logseq-random-note",
  :effect false,
  :theme false},
 :logseq-extract-plugin
 {:version "v2.0.4",
  :repo "sidharth-panwar/logseq-extract-plugin",
  :effect false,
  :theme false},
 :logseq-datenlp-plugin
 {:version "v3.11.2",
  :repo "hkgnp/logseq-datenlp-plugin",
  :effect true,
  :theme false},
 :logseq-get-youtube-captions
 {:version "v1.1.0",
  :repo "briansunter/logseq-get-youtube-captions",
  :effect true,
  :theme false},
 :logseq-tidy-blocks-plugin
 {:version "v.1.2.0",
  :repo "vyleung/logseq-tidy-blocks-plugin",
  :effect true,
  :theme false},
 :logseq-pdf-export-plugin
 {:version "2.2.5",
  :repo "sawhney17/logseq-pdf-export",
  :effect true,
  :theme false},
 :logseq-vim-shortcuts
 {:version "v0.1.14",
  :repo "vipzhicheng/logseq-plugin-vim-shortcuts",
  :effect true,
  :theme false},
 :logseq-schrodinger
 {:version "1.5.5",
  :repo "sawhney17/logseq-schrodinger",
  :effect true,
  :theme false},
 :logseq-todo-master
 {:version "v1.10.2",
  :repo "pengx17/logseq-plugin-todo-master",
  :effect false,
  :theme false},
 :logseq-tabs
 {:version "v1.15.2",
  :repo "pengx17/logseq-plugin-tabs",
  :effect true,
  :theme false},
 :logseq-helium-plugin
 {:version "v.2.1.1",
  :repo "vyleung/logseq-helium-plugin",
  :effect true,
  :theme false},
 :logseq-block-to-page
 {:version "v1.3.0",
  :repo "hyrijk/logseq-plugin-block-to-page",
  :effect false,
  :theme false},
 :logseq-emoji-picker-fork
 {:version "v0.0.2",
  :repo "walsvid/logseq-emoji-picker-fork",
  :effect false,
  :theme false},
 :unfinished-business
 {:version "0.1.5",
  :repo "QWxleA/Unfinished-business",
  :effect false,
  :theme false},
 :logseq-fenced-code-plus
 {:version "0.0.3",
  :repo "xyhp915/logseq-fenced-code-plus",
  :effect true,
  :theme false},
 :logseq-readwise-official-plugin
 {:version "v1.3.5",
  :repo "readwiseio/logseq-readwise-official-plugin",
  :effect true,
  :theme false},
 :logseq-tweet-plugin
 {:version "v2.0.4",
  :repo "hkgnp/logseq-tweet-plugin",
  :effect true,
  :theme false},
 :logseq-pomodoro-timer
 {:version "1.0.1",
  :repo "sawhney17/logseq-pomodoro-plugin",
  :effect false,
  :theme false},
 :logseq-unsplash
 {:version "v1.0.0",
  :repo "clearlysid/logseq-unsplash",
  :effect false,
  :theme false},
 :logseq-git
 {:version "v1.2.0",
  :repo "haydenull/logseq-plugin-git",
  :effect true,
  :theme false},
 :logseq-wordcount-plugin
 {:version "v2.1.2",
  :repo "hkgnp/logseq-wordcount-plugin",
  :effect false,
  :theme false},
 :logseq-graph-analysis
 {:version "0.6.1",
  :repo "trashhalo/logseq-graph-analysis",
  :effect false,
  :theme false},
 :logseq-merge-nested-blocks-into-one
 {:version "v1.0.6",
  :repo "georgeguimaraes/logseq-plugin-merge-nested-blocks-into-one",
  :effect false,
  :theme false},
 :logseq-smartblocks
 {:version "3.4.5",
  :repo "sawhney17/logseq-smartblocks",
  :effect false,
  :theme false},
 :logseq-media-ts
 {:version "v0.9.4",
  :repo "sethyuan/logseq-plugin-media-ts",
  :effect true,
  :theme false},
 :logseq-plugin-highlights-extractor
 {:version "0.0.1",
  :repo "renatocaliari/logseq-plugin-highlights-extractor",
  :effect false,
  :theme false},
 :logseq-mark-map
 {:version "v0.2.8",
  :repo "vipzhicheng/logseq-plugin-mark-map",
  :effect false, 
  :theme false}
 :logseq-plugin-gpt3-openai {:version "v1.2.1", :repo "briansunter/logseq-plugin-gpt3-openai", :effect true, :theme false}}
