/* Lato Font Variants */
@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("./fonts/Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

/* Times New Roman Font Variants */
@font-face {
  font-family: 'Times';
  src: url("./fonts/Times/Times New Roman.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times';
  src: url("./fonts/Times/Times New Roman Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Times';
  src: url("./fonts/Times/Times New Roman Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Times';
  src: url("./fonts/Times/Times New Roman Bold Italic.ttf");
  font-weight: bold;
  font-style: italic;
}

/* Inter Font Variants */
@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/static/Inter-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* Inter Variable Font */
@font-face {
  font-family: 'Inter';
  src: url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

/* Lora Font Variants */
@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/static/Lora-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

/* Lora Variable Fonts */
@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/Lora-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("./fonts/Lora/Lora-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}
