@import './reset.css';
@import './links.css';
@import './code.css';
@import './prism-dracula.css';
@import './page-transition-loading-animation.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
  @apply bg-gray-200;
}

  h1, h2, h3, h4, h5, h6 {
    @apply font-header;
  }
  p {
    @apply font-body;
  }
  button, input, select, textarea {
    @apply font-ui;
  }

  p {
    @apply my-4;
    font-size: 1.45rem;
    line-height: 1.45;
  }

.md-content h1 {
    @apply text-6xl font-bold;
  }

.md-content h2 {
    @apply text-6xl font-bold;
  }
.md-content h3 {
    @apply text-3xl font-bold;
  }

  .md-content h4 {
    @apply text-2xl font-bold;
  }

/* Specific markdown content adjustments */
.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    @apply mb-4 mt-8;
    line-height: 1;
  }

  .md-content a:link {
    @apply text-blue-600 underline transition duration-300 ease-in-out;
  }
  
  .md-content a:hover {
    @apply text-blue-800 no-underline;
  }
  
  .md-content a:visited {
    @apply text-purple-600;
  }

.md-content pre {
  @apply  flex justify-center mx-auto py-12;
}

.md-content pre code {
  @apply min-w-7/12;
}
.md-content code {
  @apply py-1 px-2 rounded-lg overflow-x-auto my-2;
  background-color: #282a36;
  color: #f8f8f2;
  font-size: 0.8em;
}

.md-content iframe {
  @apply mx-auto w-7/12;
  height: 600px;
}
.md-content > p,
.md-content > a,
.md-content > ul,
.md-content > ol,
.md-content > blockquote,
.md-content > table,
.md-content > video,
.md-content > hr,
.md-content > h1,
.md-content > h2,
.md-content > h3,
.md-content > h4,
.md-content > h5,
.md-content > h6 {
  @apply mx-auto lg:w-7/12 block
}


  .md-content ul {
    @apply list-disc list-inside;
  }

  .md-content ol {
    @apply list-decimal list-inside;
  }

  .md-content li {
    @apply mb-2;
    @apply font-body;
  }

  /* Utility classes for images and other media */
  /* .md-content img {
    @apply max-w-full h-auto rounded-lg my-6;
  } */
  .md-content img, .md-content video {
    @apply rounded-lg my-6 object-contain;
    max-height: 900px;
  }

  /* Adjusting blockquotes for a distinct style */
  .md-content blockquote {
    @apply pl-8 pr-8 py-4 border-l-8 border-gray-600 bg-gray-100 italic my-6 text-gray-800;
  }

  /* Code block adjustments */
  /* .md-content pre {
    @apply bg-gray-100 p-4 rounded-lg overflow-x-auto my-4;
  } */

  /* Table styles for structured data */
  .md-content table {
    @apply min-w-full divide-y divide-gray-300 my-6;
  }
  .md-content p {
    @apply text-3xl lg:text-xl text-gray-700 my-4;
  }

  .md-content th, .md-content td {
    @apply px-4 py-2 text-left;
  }
}
/* remove */
a {
  @apply underline;
}

  .home-intro p {
    @apply text-3xl lg:text-xl;
  }



