{{ $image := resources.GetMatch . }} 
{{ $imageLink := .}}
{{ $outputFormat := "webp" }}

{{ if $image }}
{# iF not gif or svg #} 
{{ if and (ne (path.Ext .) ".svg") (ne (path.Ext .) ".gif") }}
  {{ if gt $image.Width 1000 }}
    {{ $resizeOptions := printf "1000x %s" $outputFormat }}
    {{ $image = $image.Resize $resizeOptions }}
  {{else}}
    {{ $resizeOptions := printf "%dx%d %s" $image.Width $image.Height $outputFormat }}
    {{ $image = $image.Resize $resizeOptions }}
  {{ end }}
{{ end }}
  {{$imageLink = ($image | fingerprint ).RelPermalink}}
{{ end }}
{{ return $imageLink }}