---
import {
  StickyHeader,
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
} from "astro-navbar";
import { SITE_TITLE } from "../consts";
---

<header class="sticky">
  <StickyHeader
    class="sticky top-0 border-b z-20 transition-all"
    scrollY={50}
    defaultClass="py-2 border-transparent"
    activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
  >
    <Astronav>
      <div class="flex justify-between items-center px-4">
        <span class="underline md:text-2xl font-bold">
          <a class="m-0 text-black" href="/">{SITE_TITLE}</a>
        </span>
        <MenuIcon class="w-12 h-12 text-gray-800" />
      </div>
      <MenuItems class="hidden md:flex">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Pages</a></li>
          <li>
            <Dropdown class="group">
              <button>
                <span>Subscribe</span>
                <svg class="group-open:rotate-180">...arrow..</svg>
              </button>
              <DropdownItems>
                <div class="absolute top-0">
                  <ul>
                    <li>
                      <a href="https://newsletter.briansunter.com"
                        >Brian's Newsletter</a
                      >
                    </li>
                  </ul>
                </div>
              </DropdownItems>
            </Dropdown>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </StickyHeader>
</header>

<style scoped>
  .hidden {
    display: none;
  }
</style>
