---
import { StickyHeader, Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { SITE_TITLE, NEWSLETTER_LINK } from "../consts";
---

<header class="sticky">
  <StickyHeader
    class="sticky top-0 border-b z-20 transition-all"
    scrollY={50}
    defaultClass="py-2 border-transparent backdrop-blur-lg"
    activeClass="py-2 bg-white/90 border-gray-200 backdrop-blur-lg text-gray-900"
  >
    <Astronav>
      <div class="flex justify-between items-center px-4">
        <span class="underline md:text-2xl font-bold">
          <a class="m-0 text-gray-900 hover:text-gray-300" href="/"
            >{SITE_TITLE}</a
          >
        </span>
        <MenuIcon class="w-12 h-12 hover:text-gray-300" />
      </div>
      <MenuItems class="hidden md:flex">
        <ul class="flex flex-col">
          <li class="ml-4"><a class="hover:text-gray-300" href="/">Home</a></li>
          <li class="ml-4">
            <a class="hover:text-gray-300" href="/pages">All Pages</a>
          </li>
          <li class="ml-4">
            <a class="hover:text-gray-300" href={NEWSLETTER_LINK}>Newsletter</a>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </StickyHeader>
</header>
