---
import { StickyHeader, Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { SITE_TITLE, NEWSLETTER_LINK } from "../consts";
---

<header class="sticky">
  <StickyHeader
    class="sticky top-0 border-b z-20 transition-all"
    scrollY={50}
    defaultClass="py-1 border-transparent backdrop-blur-lg"
    activeClass="py-1 bg-white/90 border-gray-200 backdrop-blur-lg text-gray-900"
  >
    <Astronav>
      <div class="flex justify-between items-center px-6">
        <span class="text-2xl font-bold">
          <a class="m-0 text-gray-900 hover:text-gray-700 transition-colors duration-200" href="/">{SITE_TITLE}</a>
        </span>
        <MenuIcon class="w-12 h-12 p-2 hover:bg-gray-200 rounded-full transition-colors duration-200" />
      </div>
      <MenuItems class="hidden md:flex">
        <ul class="flex flex-col space-y-2 py-4">
          <li>
            <a class="block px-4 py-2 text-lg hover:bg-gray-200 rounded-lg transition-colors duration-200" href="/">Home</a>
          </li>
          <li>
            <a class="block px-4 py-2 text-lg hover:bg-gray-200 rounded-lg transition-colors duration-200" href="/pages">All Pages</a>
          </li>
          <li>
            <a class="block px-4 py-2 text-lg hover:bg-gray-200 rounded-lg transition-colors duration-200" href={NEWSLETTER_LINK}>Newsletter</a>
          </li>
        </ul>
      </MenuItems>
    </Astronav>
  </StickyHeader>
</header>