---
const { width = 480, height = 220 } = Astro.props;

const { title, substackAbout } = Astro.props;
---

<div class="flex flex-col items-start w-full">
  <h2 class="text-4xl md:text-5xl font-bold text-left">{title}</h2>
  <p class="lg:text-xl text-3xl mb-8">
    {substackAbout}
  </p>
  <div class="flex flex-col lg:flex-row gap-8 mb-8 items-stretch w-full">
    <iframe 
      src="https://newsletter.briansunter.com/embed" 
      class="w-full"
      width={width} 
      height={height} 
      style="border: 1px solid #EEE; background: white; overflow: hidden; border: none;" 
    />
  </div>
</div>